@font-face {
    font-family: 'CHelvetica Arabic';
    src: url('../fonts/alfont_com_هلفيتيكا-عربي-.ttf');
}

* {
    font-family: 'CHelvetica Arabic';
}

* img{
    object-fit: cover
}






/*for-home-page*/
.navbar__color{
    background-color: #E7C139;
    height: 100px;
}


.active__nav__item{
    border-bottom: 2px black solid;
}


.link__color{
    color: #064268;
 font-size: 20px;
}


.card_btn_bg_black{
    width: 110px;
    background-color: black;
}


.card_btn_bg_blue{
    width: 110px;
    background-color: #064268;
}


.card_btn_bg_yellow{
    width: 130px;
    background-color: #E7C139;
}


.text_card_size{
    font-size: 12px;
}


.left_side{
    height: 340px; 
}


.card_btn{
    background-color: #E7C139;
    width: 160px;
}


.news_part{
    background-image: url(../images/Mask\ Group\ 4.png);
   height: 200px;
}


.news input{
    height: 38px;
    width: 250px;
}


.news_btn{
    background-color: #E7C139;
}


.news_headline_yellow{
    background-color: #E7C139;
    width: 95px;
    height: 30px;
}


.text__yellow{
    color: #E7C139;
}


.services_part{
    background-image: url(../images/Mask\ Group\ 8.png);
height: 350px;
}


.services{
    gap: 10px;
}


.service_box{
    background-color: rgba(255, 255, 255, 0.349);
    width: 110px;
    height: 110px;
    transition: 0.2s ease-in-out;

}


.service_box:hover {
    background-color: rgba(255, 255, 255, 0.096);
}


.blue_headline {
    background-color: #064268;
    width: 150px;
    height: 30px;
}


.text__blue{
    color: #064268;
}


.media_part{
    height: 420px;
    background-color: #E7C139;
}


@media (max-width:768px) {
    .media_part{
        height: 980px;
        background-color: #E7C139;
    }
}


.media_test{
    background-color: #E7C139;
    height: auto;
}


.media_imgs{
    gap: 5px;
}


.footer__bg{
    background-color: #064268;
}


.footer_link__group{
    gap: 10px !important;
}


.icon__color{
    color: red;
}


.social__link{
    gap: 10px;
}


.bottom_navbar{
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.966);
display: none !important;
}


@media (max-width:768px) {
    .bottom_navbar{
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0.966);
        gap: 20px;
        display: flex !important;
    } 
}


.current_b_nav_icon{
    color: #064268 !important;
}


.shadow_hov{
    transition: 0.3s all ease-in-out;
}

.shadow_hov:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.shadow_hov_2{
    transition: 0.3s all ease-in-out;
}


.shadow_hov_2:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

/*for_news_pages*/
.text_color_grey {
    color: #404041;
}


.news_btns{
gap: 15px;
}


.yellow_news_btn{
    width: 120px;
background-color: #E7C139;
}


.grey_news_btn{
    width: 120px;
 background-color: #8F8F8F;
}
    

.dark_news_btn{
    width: 120px;
 background-color: #545455;
 }
        
 
 .social_column i{
     color: #E7C139;
     font-size: 25px;
 }


.share_link_input{
    width: 250px;
    height: 40px;
    background-color: #F7F5F5;
}


.share_icon{
    height: 40px;
    width: 40px;
    background-color: #404041;
}


.share_social_icon{
    gap: 20px;
}





.news_comments{
    border-bottom: 2px solid rgba(145, 140, 140, 0.767);
}


.comment_form{
    height: 450px;
    background-color: #c5c5c55b;
}

.comment_box{
    height: 150px;
}


.comment_input::placeholder{
    font-size: 18px;
    color: #999393;
}


.comment_btn{
width: 200px;
background-color: #404041;
}





/*for-events-page*/
.event_btn{
    background-color: #E7C139;
    width: 85px;
    height: 30px;
}


.event_btn_bg_light{
    width: 220px;
    height: 40px;
    background-color: #eeeded;
}


.text_resize{
    font-size: 5px;
}




/*for-services-page*/
.service_link{
    background-color: #c9c9c99f;
    transition: all 0.2s ease-in-out;
}


.service_link:hover{
        background-color: #e2e2e269;
}


.fill_hover{
    fill: #e7c139;
    stroke: #E7C139;
}


.current_service {
    background-color: rgb(0, 0, 0);
}


.current_service p{
    color: #fff;
}





/*for-stud-guide-page*/
.dir__icon{
    color: #064268;
}


.text_color_blue{
    color: #064268;
}


.map__part{
    background-color: #dddbdb3f;
}


.contact_info{
    background-color: #dddbdb3f ;
}


.imges_gallary img{
width: 24%;
height: 100px;
}


@media (max-width:768px) {
  .imges_gallary{ 
      gap: 10px;
       flex-direction: column;
    }  

    .imges_gallary img{
width: 100%;
height: 250px;
    }
}



.search_input{
    border: 1px solid rgba(128, 128, 128, 0.425);
}


.page_number{
gap: 30px;
}


.current_page{
    background-color: #E7C139;
    width: 20px;
}





/*for-contact-page*/
.main__form__part{
    height: 450px;
}


@media (max-width:768px) {
    .main__form__part{
        height: auto;
    }
    .empty__part .horse__img{
        position: static !important;
        margin: auto;
    }
}


.form__part{
    background-color: #e4e1e1bb;
}


.msg__input{
    height: 150px !important;
}


.contact-btn{
    background-color: #07324C;
    width: 150px;
}


.empty__part{
    background-color: #E7C139;
}


.horse__img{
    inset: 0;
    right: -50px;
    top: 100px;
}


.events__2021{
    background-color: #07324C;
}


.event__month{
    gap: 12px;
}


.month__bg{
    background-color: #064268;
    width: 70px;
}


.date__part{
    background-color: #E7C139;
    width: 150px;
}


.text__part{
    background-color: #F7F5F5;
}


.horse_news{
    background-color: #E7C139;
}


.latest_videos{
    background-color: #023657;
    height: 50px;
}


.yt-icon{
    font-size: 40px;
}
